:root {
    --primary-color: #800080; /* Purple */
    --text-color: #000; /* Black */
    --background-color: #f0f8ff; /* Light blue/grey */
    --light-background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    --section-padding: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    background-color: var(--light-background);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF; /* Blue highlight on hover */
}

.section {
    padding: var(--section-padding);
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 20px;
}

#landing-section {
    height: calc(100vh - 40px); /* Full viewport height minus the height of the nav */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    padding: 0;
}

.container {
    text-align: left;
    padding: 20px;
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin-left: 5%;
    font-size: 20px;
}

.intro {
    background-color: var(--light-background);
    padding: 20px;
    border-radius: 10px;
}

.container h1 {
    font-size: 48px;
}

.container p {
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.6;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project {
    width: 30%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-info {
    padding: 15px;
    text-align: left;
}

.project-info h3 {
    margin-top: 0;
    color: #333;
    font-size: 22px;
}

.project-info p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.details-link {
    display: inline-block;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.arrow-container {
    text-align: center;
    margin-top: 30px;
}

.down-arrow {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.down-arrow:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(90%) saturate(4000%) hue-rotate(180deg) brightness(90%) contrast(90%);
}
